@import url('https://fonts.googleapis.com/css2?family=Abel&family=Amatic+SC:wght@400;700&family=Anek+Devanagari:wdth,wght@90.2,100..800&family=Dancing+Script:wght@400..700&family=Jersey+10&family=NTR&family=Pacifico&family=Teko:wght@300..700&display=swap');
*{
  font-family: "Amatic SC", sans-serif;
  font-weight: 600;
  font-style: normal;

}
.gif{
  position: absolute;
  right: 100;
  bottom: 100;
  z-index: -1;
  filter: brightness(50%);
  opacity: 0.2;
}
body {
  
    margin: 0;
    padding: 0;
    background-color: #000000 ;
}
.imgen{
  margin: 10px;
    width: 270px; /* Ancho del menú */
    height: 125px; /* Altura completa del menú */
    background-color: rgba(255, 255, 255, 0.055); /* Color de fondo del menú */
    border-radius: 16px;
    border: 2px solid #00ff88;
    box-shadow: 0 0 20px #00ff88;
}
.imgen img{
  display: block;
    margin: 0 auto;
    padding: 11px;  
}
.menu {
    margin: 10px;
    width: 270px; /* Ancho del menú */
    height: 360px; /* Altura completa del menú */
    background-color: rgba(255, 255, 255, 0.055); /* Color de fondo del menú */
    border-radius: 16px;
    position: right; /* Fijar el menú en la posición */
    left: 20; /* Alinear el menú a la izquierda */
    top: 0; /* Alinear el menú en la parte superior */
    padding-top: 20px; /* Espaciado superior */
    list-style: none;
    display: flex;
    justify-content: left;
    min-width: none ;
    min-height: 6px;
    background-position:center bottom;
    border: 2px solid #88ff00;
    box-shadow: 0 0 20px #88ff00;
}
.menu ul {
    list-style: none; /* Quitar viñetas de la lista */
    padding: 0;
    color: #d0ff00;
    text-align: center; 
}
.menu ul p{
  
  text-shadow: 0 0 20px rgb(145, 255, 0), 0 0 20px rgb(145, 255, 0), 0 0 20px rgb(145, 255, 0);
}
.menu li {
    padding: 35px;
    margin: 5px;
    text-align: left;
  }
  .menu li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  .menu li a:hover {
    background-color: rgb(115, 255, 0);
    color: #000;
    box-shadow: 0 0 30px rgb(115, 255, 0);
  }
  .P1{
    margin: 10px;
      width: 915px; /* Ancho del menú */
      height: 50px; /* Altura completa del menú */
      background-color: rgba(255, 255, 255, 0.055); /* Color de fondo del menú */
      border-radius: 16px;
      position: absolute;
      top: 0;
      right:-3px;
      border: 2px solid #ff002b;
    box-shadow: 0 0 15px #ff002b;
  }

.p2{
  margin: 70px;
  width: 300px; /* Ancho del menú */
  height: 225px; /* Altura completa del menú */
  background-color: rgba(255, 255, 255, 0.055); /* Color de fondo del menú */
  border-radius: 16px;
  position: absolute;
  top: 0;
  right: 553px;
  border: 2px solid #ff5e00;
  box-shadow: 0 0 15px #ff5e00;
}

.p3{
  margin: 70px;
  width: 300px; /* Ancho del menú */
  height: 225px; /* Altura completa del menú */
  background-color: rgba(255, 255, 255, 0.055); /* Color de fondo del menú */
  border-radius: 16px;
  position: absolute;
  top: 0;
  right: 246px;
  border: 2px solid #0066ff;
  box-shadow: 0 0 15px #0066ff;
}

.p4{
  margin: 70px;
  width: 300px; /* Ancho del menú */
  height: 225px; /* Altura completa del menú */
  background-color: rgba(255, 255, 255, 0.055); /* Color de fondo del menú */
  border-radius: 16px;
  position: absolute;
  top: 0;
  right: -61px;
  border: 2px solid #8c00ff;
  box-shadow: 0 0 15px #8c00ff;
}

.p5{
  margin: 305px;
  width: 300px; /* Ancho del menú */
  height: 225px; /* Altura completa del menú */
  background-color: rgba(255, 255, 255, 0.055); /* Color de fondo del menú */
  border-radius: 16px;
  position: absolute;
  top: 0;
  right: 318px;
  border: 2px solid #00eeff;
  box-shadow: 0 0 15px #00eeff;
}

.p6{
  margin: 305px;
  width: 300px; /* Ancho del menú */
  height: 225px; /* Altura completa del menú */
  background-color: rgba(255, 255, 255, 0.055); /* Color de fondo del menú */
  border-radius: 16px;
  position: absolute;
  top: 0;
  right: 11px;
  border: 2px solid #fbff00;
  box-shadow: 0 0 15px #fbff00;
}

.p7{
  margin: 305px;
  width: 300px; /* Ancho del menú */
  height: 225px; /* Altura completa del menú */
  background-color: rgba(255, 255, 255, 0.055); /* Color de fondo del menú */
  border-radius: 16px;
  position: absolute;
  top: 0;
  right: -299px;
  border: 2px solid #ff0000;
  box-shadow: 0 0 15px #ff0000;
}

.p8{
  margin: 539px;
  width: 285px; /* Ancho del menú */
  height: 225px; /* Altura completa del menú */
  background-color: rgba(255, 255, 255, 0.055); /* Color de fondo del menú */
  border-radius: 16px;
  position: absolute;
  top: 0;
  right: 380px;
  border: 2px solid #ea00ff;
  box-shadow: 0 0 15px #ea00ff;
}

.p9{
  margin: 539px;
  width: 300px; /* Ancho del menú */
  height: 225px; /* Altura completa del menú */
  background-color: rgba(255, 255, 255, 0.055); /* Color de fondo del menú */
  border-radius: 16px;
  position: absolute;
  top: 0;
  right: 72px;
  border: 2px solid #ff1e00;
  box-shadow: 0 0 15px #ff1e00;
}

.p10{
  margin: 539px;
  width: 300px; /* Ancho del menú */
  height: 225px; /* Altura completa del menú */
  background-color: rgba(255, 255, 255, 0.055); /* Color de fondo del menú */
  border-radius: 16px;
  position: absolute;
  top: 0;
  right: -236px;
  border: 2px solid #09ff00;
  box-shadow: 0 0 15px #09ff00;
}

.p11{
  margin: 539px;
  width: 287px; /* Ancho del menú */
  height: 225px; /* Altura completa del menú */
  background-color: rgba(255, 255, 255, 0.055); /* Color de fondo del menú */
  border-radius: 16px;
  position: absolute;
  top: 0;
  right: -530px;
  border: 2px solid #ff008c;
  box-shadow: 0 0 15px #ff008c;
}

.con-inte {
  margin: 775px;
  width: 1190px; /* Ancho del menú */
  height: 527px; /* Altura completa del menú */
  background-color: rgba(255, 255, 255, 0.055); /* Color de fondo del menú */
  border-radius: 16px;
  position: absolute;
  top: 00;
  right: -760px;
  border: 2px solid #0400ff;
  box-shadow: 0 0 15px #0400ff;
}

.fil {
  margin: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0px; /* Espacio entre filas */
}
.fil img {
  margin-right: 170px; /* Espacio entre imágenes */
}
.fil p{
  margin: 18px;
  margin-right: 205px; /* Espacio entre imágenes */
}
.fil img {
  transition: transform 0.3s ease; /* Agrega una transición suave al movimiento */
}
.fil img:hover {
  transform: translateX(2px) translateY(-10px); /* Mueve la imagen 10px hacia abajo y 10px hacia la derecha */
}
.int1{
  font-size: 16px;
  font-weight: 800;
  text-align: center;
  color:rgb(123, 255, 0);
  text-shadow: 0 0 25px rgb(123, 255, 0), 0 0 2px rgb(123, 255, 0), 0 0 2px rgb(123, 255, 0);
  transition: transform 0.3s ease, color 0.3s ease; 
}

.int1:hover {
  transform: scale(1.02); /* Aplica el efecto de zoom (aumenta un 20%) */
  color: #00ffdd;
  text-shadow: 0 0 25px #00ffdd, 0 0 2px #00ffdd, 0 0 2px #00ffdd;

}
.logo{
  flex-wrap: wrap;
  margin:auto;
  justify-content: center;
  display: flex;
  align-items: center;
  gap: 10px
}
.logo img {
  
  margin-right: 17px; /* Espacio entre imágenes */
}
.logo img {
  transition: transform 0.3s ease; /* Agrega una transición suave al movimiento */
}
.logo img:hover {
  transform: translateX(2px) translateY(-10px); /* Mueve la imagen 10px hacia abajo y 10px hacia la derecha */
}
.paso {
  flex-wrap: wrap;
  margin:auto;
  justify-content: center;
  display: flex;
  align-items: center;
  gap: 10px; 
    
}

.paso img {
  margin-right: 17px;
  transition: transform 0.3s ease; /* Agrega una transición suave al movimiento */
  border-radius: 5px; /* Bordes redondeados con un radio de 15px */
}
.paso img:hover {
  transform: translateX(2px) translateY(-10px); /* Mueve la imagen 10px hacia abajo y 10px hacia la derecha */
}
.int{
  font-size: 17px;
  font-weight: 800;
  text-align: center;
  color: #7bff00;
  text-shadow: 0 0 25px #7bff00, 0 0 2px #7bff00, 0 0 2px #7bff00;
  transition: transform 0.3s ease, color 0.3s ease;
  
}
.letras{
  margin: 3px;
  font-size: 16px;
  text-align: justify;
  color: #fff;
  transition: transform 0.3s ease, color 0.3s ease;
}
.letras:hover  {
  transform: scale(1.01); /* Aplica el efecto de zoom (aumenta un 20%) */
  color: rgb(255, 166, 0); /* Cambia el color del texto durante el zoom */
}

.int:hover {
  transform: scale(1.02); /* Aplica el efecto de zoom (aumenta un 20%) */
  color: #00eeff;
  text-shadow: 0 0 25px #00eeff, 0 0 5px #00eeff, 0 0 5px #00eeff;
}